.logo {
  width: 50px;
}

/* Text Highlight */

::selection {
  background-color: #ffe987 !important;
  color: #000 !important;
}

/* Navbar */

.nav-link {
  display: inline-block !important;
  position: relative !important;
}

.nav-link:after {
  content: '' !important;
  position: absolute !important;
  width: 100% !important;
  transform: scaleX(0) !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: #4A4A4B !important;
  transform-origin: bottom center !important;
  transition: transform 0.25s ease-out !important;
}

.nav-link:hover:after {
  transform: scaleX(1) !important;
  transform-origin: bottom center !important;
}

#box {
  margin: 40px 0;
}

form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 5px;
  border: 1px solid #3c3c3c;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px #3c3c3c;
  background-color: #ffffff;

}

.name,
.email,
#message {
  width: 90%;
  padding: 10px 0;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  color: #000000;
  outline: none;
}

#message {
  resize: none;
}

.button {
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #3c3c3c, #070178);
  color: #ffffff;
  transition: 0.3s;
  border: none;
  border-radius: 20px;
}

.button:hover {
  background-image: linear-gradient(to left, #3c3c3c, #070178);
  opacity: 0.7;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #f3f3f3;
  color: #7C7C7D;
  text-align: left;
  cursor: pointer;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.styled-table tbody tr:hover {
  color: #7C7C7D;
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #7C7C7D;
}

.styled-table tbody tr.active-row {
  color: #7C7C7D;
  cursor: pointer;
}

.column {
  float: left !important;
  width: 30% !important;
  padding: 0 10px !important;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px !important;
}

/* Clear floats after the columns */
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    display: block !important;
    margin-bottom: 20px !important;
  }
}

/* Style the counter cards */
.card {
  margin-top: 4% !important;
  margin-left: 15% !important;
  margin-bottom: 5% !important;
  width: 100% !important;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
}

#center {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.google-map {
  transform: scale(1) !important;
  margin-top: 4% !important;
  width: 50% !important;
  height: 600px !important; 
  border: 1px solid black !important;
  border-radius: 20px;
  margin-left: 25%;
  transition: transform 0.5s !important;
}

.google-map:hover {
  transform: scale(1.10) !important;
}

.google-map-container {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
